body, html {
    font-family: Lato, sans-serif;
    margin: 0;
    color: #666666;
    background-color: #E6E6E6;
    height: 100%;
}


/* NAVBAR */
nav {
    display: none;
    position: fixed;
    width: 100%;
    background-color: #3F51B5;
    color: #FFFFFF;
    z-index: 20;
    overflow: hidden;
    padding: 20px 0;
}
nav a {
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
    font-weight: 700;
    font-size: 1.2em;
    cursor: pointer;
}
nav a:hover {
    background-color: #303F9F;
}
#menuarrow {
    display: none;
}


/* SIDEBAR */
aside {
    position: fixed;
    left: 0px;
    width: 320px;
    background-color: #3F51B5;
    color: #FFFFFF;
    height: 100%;
    z-index: 10;
    overflow-y: auto;
}
aside #sideavatar {
    width: 120px;
    height: 120px;
    background-image: url("avatar.svg");
    background-size: cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    margin: 40px auto 20px;
}
aside #sideusername {
    font-weight: 700;
    font-size: 1.4em;
    text-align: center;
}
aside #sidehandle {
    color: #7E91FE;
    text-align: center;
}
#sidelinks {
    margin-top: 20px;
    border-bottom: 1px solid #303F9F;
}
#sidelinks a {
    display: block;
    color: #FFFFFF;
    text-decoration: none;
    padding: 20px;
    border-top: 1px solid #303F9F;
    font-size: 1.2em;
    transition: padding-left 0.1s ease;
}
#sidelinks a:hover {
    background-color: #303F9F;
    padding-left: 28px;
}
#sidelinks a .fa {
    margin-right: 0.5em;
}
aside #bottomlinks {
    text-align: center;
    margin: 0.5em;
    color: #7E91FE;
}
aside #bottomlinks a {
    color: #7E91FE;
    text-decoration: none;
}
aside #bottomlinks a:hover {
    opacity: 0.7;
}
aside .separator {
    margin: 0 0.5em;
}



/* MAIN */
#mainbody main {
    background-color: #F5F5F5;
}
#main {
    padding-left: 320px;
}
#main section {
    border-bottom: 1px solid #E6E6E6;
}
#posting {
    padding: 40px;
}
#posting textarea {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}
.post {
    border-bottom: 1px solid #E6E6E6;
    padding: 20px 40px;
}
.post .avatar {
    border-radius: 50%;
    width: 2.5em;
    height: 2.5em;
    display: inline-block;
    transform: translateY(33%);
}
.post .username {
    font-size: 1.2em;
    font-weight: 700;
    margin-left: 12px;
}
.post .handle {
    font-size: 0.8em;
    color: #999999;
    margin-left: 4px;
    display: inline-block;
}
.post .time {
    font-size: 0.8em;
    color: #999999;
    font-style: italic;
    margin-left: 4px;
    display: inline-block;
}
.post .text {
    font-size: 1em;
    padding: 20px 0;
}


/* POSTING INPUT */
#posting textarea {
    border: 1px solid #E6E6E6;
    padding: 12px;
    font-size: 1.2em;
    font-family: Lato, sans-serif;
    color: #666666;
    box-sizing: border-box;
}
#posting input[type="submit"] {
    padding: 4px 8px;
    font-size: 1.2em;
    font-family: Lato, sans-serif;
    cursor: pointer;
}

/* LOGIN */
#loginbody {
    background-color: #3F51B5;
    color: white;
    margin: 0;
    min-height: 100%;
    display: grid;
}
#loginform {
    width: 400px;
    margin: auto;
}
#loginform input[type="text"],
#loginform input[type="password"],
#loginform input[type="submit"] {
    font-family: Lato, sans-serif;
    font-size: 1.2em;
    padding: 0.5em;
    box-sizing: border-box;
    display: block;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid white;
    border-radius: 4px;
}
#loginform input[type="submit"] {
    cursor: pointer;
    float: right;
    width: 25%;
    font-size: 1em;
    background-color: #4CAF50;
    color: white;
    border: none;
    transition: background-color 0.1s ease;
}
#loginform input[type="submit"]:hover {
    background-color: #449d48;
}
#loginform input[type="submit"]:active {
    background-color: #3D8B40;
}
#loginform a {
    color: white;
    text-decoration: none;
    margin-right: 8px;
}
#loginform a:hover {
    opacity: 0.8;
}
.alternate {
    width: 2.2em;
    height: 2.2em;
    background-size: 100%;
    display: inline-block;
    border-radius: 4px;
    margin-right: 8px;
    float: right;
    border: 0;
    box-sizing: border-box;
}
button.alternate {
    width: 2.65em;
    height: 2.65em;
}
.alternate:hover {
    opacity: 0.8;
    cursor: pointer;
}
.alternate:focus {
    opacity: 0.8;
}
#facebook {
    background-image: url(fb.svg);
}
#idcard {
    background-image: url(id.svg);
}
#smartid {
    background-image: url(smartid.svg);
}



/* LANDING */
#landingbody {
    background-color: #3F51B5;
    color: white;
    margin: 0;
    min-height: 100%;
    display: grid;
}
#landingbody main {
    margin: auto;
    padding: 1em;
}
#landingbody #bottomlinks {
    margin-top: 1em;
}
#landingbody h1 {
    font-size: 3em;
    margin: 0;
}
#landingbody h2 {
    font-weight: 300;
    margin: 0 0 1em;
}
#landingbody a {
    color: white;
    text-decoration: none;
}
#landingbody a:hover {
    opacity: 0.8;
}
#landingbody .separator {
    margin: 0 0.5em;
}
#landingbody .button {
    border: 1px solid white;
    border-radius: 0.5em;
    padding: 0.8em 1.6em;
    overflow: hidden;
    display: inline-block;
    margin-right: 0.5em;
    transition: background-color 0.1s ease, color 0.1s ease;
}
#landingbody .button:hover {
    background-color: white;
    color: #3F51B5;
}



/* TOOLTIPS */
/* https://www.w3schools.com/howto/howto_css_tooltip.asp */
/* Tooltip container */
.tooltip {
    position: relative;
    display: inline-block;
}

/* Tooltip text */
.tooltip .tooltiptext {
    visibility: hidden;
    width: 120px;
    background-color: #555;
    color: #fff;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;

    /* Position the tooltip text */
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -60px;

    /* Fade in tooltip */
    opacity: 0;
    transition: opacity 0.3s;
}

/* Tooltip arrow */
.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #555 transparent transparent transparent;
}

/* Show the tooltip text when you mouse over the tooltip container */
.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}



/* GENERAL */
.hidden {
    display: none;
}
p {
    text-align: justify;
}
/* removed these because powermapper doesn't like em
/*::-moz-focus-inner {
    border:0;
}
a:focus {
    border: none;
    outline: 0;
}*/

@media screen and (max-width: 800px) {
    nav {
        display: block;
    }
    aside {
        transition: left 0.5s ease;
        left: -75%;
        width: 75%;
    }
    aside #sideavatar {
        margin-top: 6em;
    }
    #main {
        padding-left: 0;
        padding-top: 4em;
    }
}
@media screen and (max-width: 480px) {
    #posting {
        padding: 20px;
    }
    .post {
        border-bottom: 1px solid #E6E6E6;
        padding: 10px 20px;
    }
    .post .username {
        font-size: 1em;
        margin-left: 8px;
    }

    textarea {
        font-size: 1em;
    }
    button {
        font-size: 1em;
    }

    #loginform {
        width: 90%;
    }
}


/* ABOUT */
#aboutbody {
    background-color: #3F51B5;
    color: white;
    margin: 0;
    min-height: 100%;
    display: grid;
}
#aboutbody main {
    margin: auto;
    padding: 1em;
}
#aboutbody h1 {
    font-size: 3em;
    margin: 0;
}
#aboutbody h2 {
    font-weight: 300;
    margin: 0 0 1em;
}