<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Blopto</title>
        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="/style.css" />
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Microblogging with a focus on privacy"/>
        <meta name="keywords" content="Blopto,microblogging,privacy,encryption"/>
        <meta name="author" content="Andri Soone,Paul Liibert,Kermo Laurits"/>
        <meta charset="UTF-8"/>
        <!-- FontAwesome CDN -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
        <!-- JavaScript -->
        <script src="/main.js"></script>
    </head>
    <body>
        <nav>
            <a id="menubutton"><em id="menuburger" class="fa fa-bars"></em><i id="menuarrow" class="fa fa-arrow-left"></i></a>
        </nav>
        <aside id="sidemenu">
            <div id="sideavatar"></div>
            <div id="sideusername" th:text="${username}"></div>
            <div id="sidehandle" th:text="'@' + ${handle}">hmm</div>
            <div id="sidelinks">
                <a href="#"><i class="fa fa-search"></i><span th:text="#{index.search}"></span></a>
                <a href="#"><i class="fa fa-envelope"></i><span th:text="#{index.messages} + ' (' + ${postCount} + ')'"></span></a>
                <a href="#"><i class="fa fa-cog" ></i><span th:text="#{index.settings}"></span></a>
                <a href="/logout"><i class="fa fa-sign-out"></i><span th:text="#{index.logout}"></span></a>
            </div>
        </aside>
        <main>
            <section id="main">
                <h2 class="hidden">Blopto - the site that adds invisible headers to get past html validators</h2>
                <section id="posting">
                    <h2 class="hidden">Post a new thing here</h2>
                    <form id="postform" action="/api/submitpost" method="post">
                        <label class="hidden" for="postbox">Post things here</label>
                        <textarea id="postbox" name="post" maxlength="200" th:placeholder="#{index.placeholder}" title="message box"></textarea>
                        <input id="postbutton" type="submit" th:value="#{index.post}" th:title="#{index.post}"/>
                        <div class="tooltip"><i class="fa fa-question-circle"></i><span class="tooltiptext" th:text="#{index.help}"></span></div>
                    </form>
                </section>
                <section id="posts">
                    <h2 class="hidden">Here are the already posted things</h2>
                    <article class="post" th:each="post : ${posts}">
                        <h3 class="hidden">This is a post</h3>
                        <img class="avatar" src="/avatar.svg" width="40" height="40" alt="default avatar"/>
                        <span class="username" th:text="${post.user.firstName}"></span><span class="handle" th:text="'@' + ${post.user.username}"></span><time class="time" th:text="${post.getDate()}"></time>
                        <div class="text" th:text="${post.getPost()}"></div>
                    </article>
                </section>
            </section>
        </main>
    </body>
</html>