<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>blopto</title>
        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="/style.css" />
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Microblogging with a focus on privacy"/>
        <meta name="keywords" content="Blopto,microblogging,privacy,encryption"/>
        <meta name="author" content="Andri Soone,Paul Liibert,Kermo Laurits"/>
        <meta charset="UTF-8"/>
        <!-- Favicon -->
        <link rel="shortcut icon" href="favicon.ico"/>
        <!-- FontAwesome CDN -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
        <!-- JavaScript -->
        <script defer='defer' src="/proov.js"></script>
    </head>
    <body id="landingbody">
        <main>
            <h1>blopto</h1>
            <h2 th:text="#{greeting}"></h2>
            <section id="loginbuttons">
                <p><span th:text="#{registered_users}"></span>: <span id="p1" th:text="${count}"></span></p>
                <a class="button" href="/login" th:text="#{login}"></a><a class="button" href="/register" th:text="#{register}"></a>
            </section>
            <section id="bottomlinks">
                <a href="/about" th:text="#{about}">about</a><span class="separator">|</span><a href="/?lang=et">eesti keel</a><span class="separator">|</span><a href="/?lang=en">english</a>
            </section>
        </main>
    </body>
</html>
