<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Blopto Login</title>
        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="/style.css" />
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="description" content="Microblogging with a focus on privacy">
        <meta name="keywords" content="Blopto,microblogging,privacy,encryption">
        <meta name="author" content="Andri Soone,Paul Liibert,Kermo Laurits">
        <meta charset="UTF-8">
        <!-- FontAwesome CDN -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
        <!-- JavaScript -->
        <script src="/main.js"></script>
    </head>
    <body id="loginbody">
        <form id="loginform" action="/login" method="post">
            <h1>blopto</h1>
            <label class="hidden" for="username">Username</label>
            <input type="text" placeholder="Username" name="username" required>
            <label class="hidden" for="password">Password</label>
            <input type="password" placeholder="Password" name="password" required>
            <label>
                <input type="checkbox" name="remember"> Remember me
            </label>
            <input type="submit" value="Login"><!--<a id="idcard" class="alternate" href="#"></a>--><a id="smartid" class="alternate" href="#"></a><a id="facebook" class="alternate" href="#"></a>
        </form>
    </body>
</html>