<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
    <head>
        <title th:text="#{registration}"></title>
        <!-- CSS -->
        <link type="text/css" rel="stylesheet" href="/style.css" />
        <!-- Meta tags -->
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        <meta name="description" content="Microblogging with a focus on privacy"/>
        <meta name="keywords" content="Blopto,microblogging,privacy,encryption"/>
        <meta name="author" content="Andri Soone,Paul Liibert,Kermo Laurits"/>
        <meta charset="UTF-8"/>
        <!-- FontAwesome CDN -->
        <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous"/>
        <!-- JavaScript -->
        <script src="/main.js"></script>
    </head>
    <body id="loginbody">
        <form id="loginform" action="/register" method="post">
            <h1 th:text="#{registration}"></h1>
            <label class="hidden" for="firstName"></label>
            <input type="text" th:placeholder="#{name}" name="firstName" />
            <label class="hidden" for="username"></label>
            <input type="text" th:placeholder="#{username}" name="username" />
            <label class="hidden" for="email">Email address</label>
            <input type="text" th:placeholder="#{email}" name="email" />
            <label class="hidden" for="password">Password</label>
            <input type="password" th:placeholder="#{password}" name="password" />
            <label class="hidden" for="password2">Password again</label>
            <input type="password" th:placeholder="#{password2}" name="password2" />
            <input type="submit" th:value="#{register}"/>
            <!--<a id="idcard" class="alternate" href="#"></a>-->
            <a id="smartid" class="alternate" href="#"></a>
            <!--<a id="facebook" class="alternate" href="/connect/facebook"></a>-->
            <button id="facebook" class="alternate" type="submit" formaction="/connect/facebook"></button>
            <a href="/" th:text="#{home}"></a><a href="/login" th:text="#{login}"></a>
        </form>
    </body>
</html>
